html, body {
	font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
	/*font-family: "Trebuchet MS", "Arial", sans-serif;*/
	font-size: 14px;
	min-width:1190px;
	/*line-height: 0.5em;*/
	/*line-height: 1.3em;*/
}

html {
	background-color:#dddfde;
	/*background-image: url("../images/body_background.svg");*/
	background-repeat: repeat-x;
	background-position: center top;
	background-size: 100% 100%;
}
body {
	background-image: url("../images/body_top_background.gif");
	background-repeat: repeat-x;
	background-position: left 80px;
	background-size: auto auto;
}
body.admined-body {background-size: auto 158px;}
#success{
	color: green;
}
body p, body a, body li, body h2{
	line-height: 1.5em;
}
body li.leaf{
	line-height: 0.5em;
}
a {
	color:#85092d;
}
.menu a, .leftnav a, .topnav a {
	text-decoration:none;
}
a:hover{
	color:#b70438;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Times New Roman", serif;
	font-style:italic;
}
h2 {
	color:#333333;
	font-weight:normal;
	font-size:30px;
	margin-top:0;
	margin-bottom:15px;
}
h3 {
	color:#fff;
	font-size:20px;
	font-weight:bold;
	margin-top:0;
}
.container {
	margin:0 auto;
	width: 1190px;
	min-width:1190px;
	max-width:1190px;
}
aside {
	float:left;
	width:287px;
}
#logo img {
	height:248px;
	margin-left:-29px;
	width:308px;
	max-width:308px;
}

.search {
	background:url("../images/bottom_triangle.png") repeat-x left bottom;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom:19px;
	padding:0px 16px 45px;
	width:250px;
	padding-top: 6px;
}

.search input {

	border:1px solid #999;

	-webkit-box-sizing: border-box;

	-moz-box-sizing: border-box;

	box-sizing: border-box;

	height:24px;

	padding:5px;

	width:160px;

}

.search .form-submit{
	background:url("../images/submit_background.svg");
	border:0;
	border-radius: 3px;
	height:24px;
	line-height:14px;
	text-align:center;
	width:52px;
	font-size:14px;
}

.leftnav, #block-menu-menu-languages ul.menu {

	margin-top:0;

	list-style-type: none;

	padding:0;

}

.leftnav li, #block-menu-menu-languages ul.menu li {

	background:#646464;

	-webkit-box-sizing: border-box;

	-moz-box-sizing: border-box;

	box-sizing: border-box;

	display:block;

	height:62px;

	margin-bottom:7px;

	width:100%;

}

.leftnav li:hover, #block-menu-menu-languages ul.menu li:hover{

	background:#454545;

}

.leftnav li a, #block-menu-menu-languages ul.menu li a {

	color:#fff;

	display:block;

	font-family: "Times New Roman", serif;

	font-size:20px;

	font-style:italic;

	line-height:62px;




}
.leftnav li a{
	padding-left:62px;
}
#block-menu-menu-languages ul.menu li a {
	padding-left:87px;
}
.leftnav li a img, #block-menu-menu-languages ul.menu li a img {

	display:block;

	float:left;

	margin-top:6px;

	margin-left:-50px;

}

.leftnav li ul{

	display:none;

}

.regions, #block-menu-menu-reginoal-associations {

	background:url("../images/bottom_triangle.png") repeat-x left bottom;

	margin-bottom:20px;

	padding-bottom:46px;

}

.regions h3, #block-menu-menu-reginoal-associations h2 {

	line-height:63px;

	margin-bottom:0;

	text-align:center;

	width:100%;

}
#block-menu-menu-reginoal-associations h2.block-title {
	color:#fff;
	font-weight:bold;
	font-size:24px;
}

.regions ul, #block-menu-menu-reginoal-associations ul {

	background:#f4f4f4;

	-webkit-box-sizing: border-box;

	-moz-box-sizing: border-box;

	box-sizing: border-box;

	list-style-type: none;

	margin:0;

	padding:0px 20px;

	width:100%;

}

.regions li, #block-menu-menu-reginoal-associations li {

	border-bottom:1px solid #d1d1d1;

	display:block;

	height:25px;

	padding: 17px 0;

	width:100%;

}

.regions li:hover, #block-menu-menu-reginoal-associations li:hover{

	background:#ececec;

}

.regions ul li.last, #block-menu-menu-reginoal-associations ul li.last {

	margin-bottom:0;

	border-bottom:0px

}

.regions li a, #block-menu-menu-reginoal-associations li a {

	color:#333333;

	display:block;

	line-height:25px;

	padding:0 10px;

}



.main {

	margin-left:300px;

	overflow:hidden;

	width:890px;
}
.main .main{
	margin-left: 0px;
}
.front .main{
	width: 883px;
}
.topnav, #block-menu-menu-top-menu-in-english ul {

	list-style-type: none;

	margin:0;

	padding:0 7px 0 0;

	text-align:right;

}

.topnav li, #block-menu-menu-top-menu-in-english ul li {

	display:inline-block;

}

.topnav li a, #block-menu-menu-top-menu-in-english ul li a {

	background: -webkit-linear-gradient(top, #fff 0%, #fff 60%, #f4f4f4 100%);

	background: -moz-linear-gradient(top, #fff 0%, #fff 60%, #f4f4f4 100%);

	background: -o-linear-gradient(top, #fff 0%, #fff 60%, #f4f4f4 100%);

	background: -ms-linear-gradient(top, #fff 0%, #fff 60%, #f4f4f4 100%);

	background: linear-gradient(top, #fff 0%, #fff 60%, #f4f4f4 100%);

	border-radius:0 0 10px 10px;

	box-shadow: 0 0 4px 0 #999;

	color: #333;

	display:block;

	font-family: "Times New Roman", serif;

	font-style: italic;

	font-size:16px;

	font-weight:bold;

	line-height:38px;

	height:40px;

	padding:0 15px;

}

.topnav li a:hover, #block-menu-menu-top-menu-in-english ul li a:hover{

	background: -webkit-linear-gradient(top, #f5f5f5 0%, #f5f5f5 60%, #f4f4f4 100%);

	background: -moz-linear-gradient(top, #f5f5f5 0%, #f5f5f5 60%, #f4f4f4 100%);

	background: -o-linear-gradient(top, #f5f5f5 0%, #f5f5f5 60%, #f4f4f4 100%);

	background: -ms-linear-gradient(top, #f5f5f5 0%, #f5f5f5 60%, #f4f4f4 100%);

	background: linear-gradient(top, #f5f5f5 0%, #f5f5f5 60%, #f4f4f4 100%);

}

#user-login-form, #user_menu{
	background:#454545;
	border-radius:10px 10px 0 0;
	float:right;
	margin-top:18px;
	overflow:hidden;
	height: auto;
	width:265px;

}
#user_menu ul.menu{
	margin:0px;
}

#user_menu h3 {

	font-size:15px;

}

#user-login-form h3, #user_menu h3  {

	background:#85092d;

	border-radius:10px 10px 0 0;

	font-weight:normal;

	line-height:38px;

	margin-bottom:0;

	padding:0 14px;

}

#user-login-form table {
	margin:6px 11px 13px 21px;
	border-collapse: collapse;
	border-spacing: 0;
}

form#user-login-form tbody{

	border-top:0px;

}

#user-login-form table input {

	background: #686868;

	border:1px solid #000;

	height:20px;

	line-height:20px;

	margin:0 5px;

	width:96px;

}

#user-login-form table input[type="text"]

{

	color:#ccc;

}

#user-login-form table td {

	text-align:right;

	padding:0px;

}

#user-login-form table label {

	color:#ffffff;

	font-size:12px;

}
#user-login-form table span.fdd {
	color:#ffffff;
	font-size:12px;
	/*display: block;*/
	font-weight: bold;
}

#user-login-form table input.form-submit{
	background:url("../images/submit_background.svg");
	border:0;
	border-radius:5px;
	height:55px;
	font-family: "Times New Roman", serif;
	font-size:24px;
	font-style:italic;
	line-height:50px;
	width:82px;
	cursor: pointer;
	-webkit-appearance: button;

}

#user-login-form table tr:last-child td {

	color: #fff;

	line-height:25px;

	text-align:center;

}

#user-login-form table a, #user_menu  a {

	color:#fff;

	font-size:12px;

	text-decoration: underline;

}

#user-login-form table a:hover, #user_menu  a:hover {

	text-decoration: none;

}

#user-login-form  .form-item, .form-actions{

	margin:0px;

}

#user-login-form  ul{

	margin:0px;

	padding:0px;

}

#user-login-form .item-list li{

	display:inline;

}

.quicklinks {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height:115px;
	list-style:none;
	margin:0;
	margin-top:40px;
	overflow:hidden;
	padding:0 0 5px;
	width:600px;
}

.quicklinks li {
	display:block;
	float:left;
	height:28px;
	line-height:28px;
	width:33%;
	font-size: 14px;

}

.quicklinks li a {

	color:#fff;

	text-decoration: underline;

}

.quicklinks li a:hover {

	text-decoration: none;

}

.quicklinks .button {

	margin-right:35px;

}

.lastnews {

	display:block;

	/*float:left;*/

	list-style-type: none;

	margin:0;

	padding:0;

}
#block-views-news-on-mainpage-block{
	/*width: 550px;
	float:left;
	display: inline-block;*/
}
.book-ad{
	display: inline-block;
	float: right;
	width: 333px;
}
.book-ad img{
	max-width: 80%;
}

.lastnews li {

	background:#f4f4f4;

	-webkit-box-sizing: border-box;

	-moz-box-sizing: border-box;

	box-sizing: border-box;

	height:119px;
	margin-top:1rem;
	margin-bottom:1rem;

	padding:1rem;
	border: 1px solid #CCCCCC;
	border-radius: .3rem!important;

}

.lastnews ul li:last-child {

	margin-bottom:0;

}

.lastnews li {

	color:#333333;

	display:block;

	font-size:12px;

	height:119px;

	overflow:hidden;

	width:100%;

}

.lastnews li  a{

	display:block;
	font-size: 1rem;
	float: left;
	line-height: 1.5rem;

	/*clear: right;*/

}

.lastnews li div{

	clear:right;

}

.lastnews li span.date {

	background:#750324;

	color:#ffffff;

	font-size:11px;

	float:right;

	padding:2px 5px;


}

.lastnews li span.foto {

	float:left;

	width:105px;

	margin-right: 10px;

}

.lastnews li span.foto a{

	width:105px;

}



.asidenews {

	background:#f4f4f4;

	-webkit-box-sizing: border-box;

	-moz-box-sizing: border-box;

	box-sizing: border-box;

	margin-top:20px;

	padding:20px 30px 20px;
	height:715px;
	width: 585px;
	float: left;

}

h2, .asidenews h1 {
	border-bottom:1px solid #999999;
	margin-bottom:0;
	font-weight:normal;
	margin-top: 0;
}
.asidenews

.asidenews .content {
	height:228px;
	margin-bottom:10px;
	overflow:hidden;
}
.asidenews .ask {
	background:url("../images/ask.gif") no-repeat center center;
	display:block;
	float:right;
	height:74px;
	overflow: hidden;
	text-indent: 100%;
	width:304px;
	white-space: nowrap;
}
.about {
	background:#f4f4f4 url("/upload/about_man.jpg") no-repeat left bottom;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-height:440px;
	margin-top:7px;
	margin-bottom:20px;
	padding:20px 30px 20px 377px;
	position: relative;
}
.bubble {

	position: absolute;

	left:45px;

	background:#9c9c9c;

	bottom:305px;

	width:280px;

	padding:10px;

	font-size:11px;

	color:white;

	line-height:18px;

}

.page-content{

	-webkit-box-sizing: border-box;

	-moz-box-sizing: border-box;

	box-sizing: border-box;

	min-height:450px;

	margin-top:7px;

	margin-bottom:20px;

	padding:20px 30px 20px 30px;

	background: none repeat scroll 0 0 #F4F4F4;

}
.font .page-content{
	display:block;
}
.faces{
	background: none repeat scroll 0 0 #F4F4F4;
	padding:20px 30px 20px 30px;
}
.faces h2 {

	border-bottom:1px solid #999999;

	margin-bottom:0;

}

.page-node-5 .page-content{

	background:transparent;

}



footer.myfooter {

	background:#333;

	clear:both;

	color:#ffffff;

	line-height:1.7em;

	overflow:hidden;

}

footer.myfooter a{

	color:#fff;

}

footer.myfooter .container {
	background:url("../images/footer.gif") repeat-y right top;
	overflow:hidden;
}

footer.myfooter h3{

	margin-bottom: 0.2em;

}

footer.myfooter section {

	padding:30px 40px;

}

.footerinfo {

	-webkit-box-sizing: border-box;

	-moz-box-sizing: border-box;

	box-sizing: border-box;

	float:left;

	overflow:hidden;

	width:656px;

}

.socials {

	-webkit-box-sizing: border-box;

	-moz-box-sizing: border-box;

	box-sizing: border-box;

	margin:0 262 0 656px;

	overflow:hidden;

	width:250px;
	float:right;

}

.socials ul {

	list-style-type: none;

	margin:0;

	padding:0;

}

.socials ul li {

	height:33px;

	line-height:33px;

	padding-left:40px;

}

.socials .blogs {

	background:url("../image/footer_blogs.png") no-repeat left center;

}

.socials .twitter {

	background:url("../image/footer_twitter.png") no-repeat left center;

}

.socials .linkedin {

	background:url("../image/footer_linkedin.png") no-repeat left center;

}

.socials .rss {

	background:url("../image/footer_rss.png") no-repeat left center;

}

.socials a {

	color:#ffffff;

}

.socials a:hover {

	text-decoration: underline;

}

.contacts {

	-webkit-box-sizing: border-box;

	-moz-box-sizing: border-box;

	box-sizing: border-box;

	float:left;

	overflow:hidden;

	width:262px;

}

.contacts p {

	margin:0;

}

body a.button {
	background: no-repeat right center  #85092D;
	border-radius:5px;
	color:white;
	display:inline-block;
	line-height:28px;
	text-decoration:none;
	padding:0 10px;
}
.more-link a{
	background: no-repeat right center  #85092D;
	border-radius:5px;
	color:white;
	display:inline-block;
	line-height:28px;
	text-decoration:none;
	padding:0 10px;
}
body a.more {
	float:right;
	padding-right:30px;
}
/* Slider */

body .slider_container {

	-webkit-box-sizing: border-box;

	-moz-box-sizing: border-box;

	box-sizing: border-box;

	height:100px;

	padding:0 22px;

	overflow: hidden;

}

body .slider {

	overflow:hidden;

	position:relative;

	width:100%;

	height:100px;

}

body .slider ul {

	margin:0;

	padding:0;

	height:160px;

}

body .slider li {

	float:left;

	list-style:none;

	margin:0 5px 0 0;

}

body .slider li {

	display: table-cell;

	vertical-align: bottom;

	text-align:center;

	line-height:100px;

	font-size:25px;

}

body div.controls {

	height:100px;

	margin:-100px -20px;

}



.controls .next-slide, .controls .prev-slide {

	background:url("../image/slider_nav_next.gif") no-repeat right center;

	display:block;

	height:100px;

	white-space: nowrap;

	overflow: hidden;

	width:18px;

	text-indent: 100%;

	float:right;

}

.controls .prev-slide {

	background:url("../image/slider_nav_prev.gif") no-repeat left center;

	float:left;

}

.field-name-field-surname ,.field-name-field-name ,.field-name-field-fthername{

	/*display:none;*/

}

/*#block-views-consultations-list-block h2{

	font-size: 20px;

	margin-top:10px;

}*/

#block-views-consultations-list-block  ul{

	margin: 0;

	padding:0;

	list-style: none outside none;

}

#block-views-consultations-list-block  ul li{

	margin: 10px 0 0;

}

#block-views-consultations-list-block  ul li span.views-field-field-adress, #block-views-consultations-list-block  ul li span.views-field-field-phone{

	font-size:12px;

}

.invisible{

	display:none;

}

.node-museum .field-name-field-foto{

	float:right;

	margin-left: 20px;

}

.node-museum .field-name-field-foto img{

	border: 5px solid #85092D;

}



.view-og-members img, .view-rukovodstvo img{

	float:left;

	margin-right:5px;

}

.view-og-members .field-name-field-phone .field-item{

	display:inline;

	margin-right: 10px;

}

.view-og-members .views-view-grid a{

	/*font-size: 12pt;*/

}

.view-og-members .views-view-grid td{

	width:33.33%;

	padding:5px;

	/*font-size: 9pt;*/

}

.view-og-members .views-view-grid .user-picture, .view-rukovodstvo .user-picture{
	display: block;
	float: left;
	margin-top:3px;
}

#rukovodstvo{

	float:right;

	width:400px;

}

#rukovodstvo .field-label{

	margin-left: 63px

}

#rukovodstvo img{

	margin-top: -20px;

}

#rukovodstvo.field-type-addressfield, #rukovodstvo .field-name-field-phone{

	/*float:none;*/

}

.node-test-kollegia .field-name-field-adress,.node-test-kollegia  .field-name-field-mail{

	float:left;
	clear:left;

}

.node-test-kollegia .field-name-field-phone:after{

	clear:left;

}

.field-type-field-yamaps{

	clear:both;

}

option:disabled{

	/*visibility:hidden;

    font-size: 0;

    height: 0;*/

}

.profile2-main .clearfix:after, .profile .clearfix:after{

	clear:left;

}

.profile  .field-name-field-sdfsdf{

	display:none;

}

.profile  .field-type-entityreference{

	clear:both;

}

.node-test .field-name-field-phone .field-label, .node-test .field-name-field-adress .field-label,

.node-test-kollegia .field-name-field-phone .field-label, .node-test-kollegia .field-name-field-adress .field-label,

.views-field-field-phone .views-label,

.views-field-field-adress .views-label, .node-test-kollegia .field-name-field-mail .field-label {

	display: block;

	float: left;

	font-weight: bold;

	text-align: right;

	width: 80px;

}

.views-field-field-phone .views-label,

.views-field-field-adress .views-label{

	padding-right:5px;

	width: 65px;

}

.view-id-consultations_list table td{

	vertical-align:top;

	padding:5px;

	width:50%;

}
.view-display-id-block_4 .views-view-grid td{
	text-align:center;
	width: 14.28%;
	padding:0px;
	font-size:10pt;
}
.view-display-id-block_4 .views-view-grid td .user-picture, .view-display-id-block_4 .views-view-grid td .user-picture img{
	float:none;
	height: auto;
}
.page-content .profile h3{
	display:none;
}
.page-content h3{
	color:#85092D;
}
.view-persons table td{
	text-align:center;
}
.view-persons table tr{
	margin-bottom:20px;
}
.view-persons table{
	margin-bottom:0px;
}
blockquote{
	border-left: 10px solid #85092D;
	color: #333333;
	font-weight: bold;
	margin-left: 1.5em 30px;
	padding-left: 10px;
}
.node-teaser blockquote{
	margin-bottom:0px;
}
.pole{
	color: #666666;
	font-size: 9pt;
	padding-right: 20px;
	text-align: right;
	width: 180px;
	font-style: italic;
}
.node-test-kollegia  .field-name-body{
	clear:left;
}
img.header{
	margin-left: -30px;
	margin-top: -20px;
}
.node-news .field-name-field-foto{
	float:right;
	margin: 10px;
}
.view-diplomed table{
	width:100%;
}
.view-diplomed table td{
	text-align:center;
}
.submitted-faq .contacts{
	border-top: 1px solid #C8C8C8;
	font-size: 10pt;
	font-style: normal;
	margin-top: 10px;
	padding-top: 10px;
	text-align:left;
	width: 180px;
}
.submitted-faq .contacts span{
	display: block;
	float: left;
	font-weight: bold;
	margin-right: 5px;
	text-align: right;
	/*width: 60px;*/
}
.view-og-members table{
	width:100%;
}
.collegies{
	font-size:9pt;
	border-top: 1px solid #C8C8C8;
	text-align:left;
	clear:both;
	margin-top: 10px;
	padding-top: 10px;
}
.adv_stats{
	font-size:9pt;
	border-top: 1px solid #C8C8C8;
	text-align:left;
	clear:both;
	margin-top: 10px;
	padding-top: 10px;
}
.adv_stats span{
	display: inline-block;
	text-align: right;
	width: 60px;
}
.adv_stats_prof {
	font-size:9pt;
	text-align:left;
	float:right;
	margin: 10px;
	padding: 10px;
	width:250px;
	background-color: #dddedd;
	border: 1px solid #c8c8c8;
}
.adv_stats_prof span{
	display: inline-block;
	text-align: right;
	width: 60px;
}
.author{
	text-align:right;
	font-style:italic;
	font-size: 9pt;

}
.view-user-by-term table td{
	text-align:center;
}
.author_phone{
	display:block;
	float:left;
	width:115px;
}
.quest_theme{
	font-style:italic;
	font-size: 9pt;
	float:left;
}
.field-name-field-extraactivity  .field-items{
	width:350px;
}
.view-feeds-defaults-feed-items h3{
	margin-bottom: 0px;
}
.view-feeds-defaults-feed-items .views-row{
	margin-bottom: 7px;
}
.page-user .tabs{
	display:none;
}
.page-user ul.secondary{
	display:block!important;
	margin-top:0px;
}
a.add_blog{
	background-color: #85092D;
	color: #FFFFFF;
	display: block;
	font-family: "Times New Roman",serif;
	font-size: 24px;
	font-style: italic;
	line-height: 56px;
	text-decoration: none;
	width: 250px;
	margin:10px;
	float:left;
	height:55px;
	text-align: center;
}
a.add_blog:hover{
	background-color: #b40034;
}
a.edit_profile{
	background-color: #85092D;
	color: #FFFFFF;
	display: block;
	font-family: "Times New Roman",serif;
	font-size: 24px;
	font-style: italic;
	line-height: 40px;
	text-decoration: none;
	width: 250px;
	margin:10px;
	float:left;
	height:55px;
	text-align: center;
}
a.edit_profile:hover{
	background-color: #b40034;
}
a.edit_profile span{
	display: block;
	font-family: "Trebuchet MS","Arial",sans-serif;
	font-size: 14px;
	font-style: normal;
	margin-top: -20px;
}
#block-views-faq-block-1{

}
.region-news{
	background-color: #F4F4F4;
	float: right;
	padding: 20px 30px 20px;
	width: 230px;
	font-size: 12px;
	height: 675px;
	margin-top: 20px;
	float: right;
}
#block-views-794603375ff4bf4d2539aeee33b8df0d{
	float:right;
	width:250px;
	font-size:12px;
}
.section-pravo-news .tabs{
	display:none;
}

.comment_author{
	float:left;
	width:100px;
	text-align: center;
	padding: 10px;
	font-size:9pt;
}
.comment_body{
	margin-left:150px;
}
.comment {
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 40px;
	padding-bottom: 20px;
}
.edit-field-kollegia-und{
	display:none;
}
.asker{
	font-style:italic;
	text-align:right;
	font-size:9pt;
}
.view-user-by-term table{
	width:100%;
}
.node-faq .clearfix:after {
	clear: left;
}
.node-faq .comments{
	clear: both;
}
#user-register-form .tabledrag-toggle-weight-wrapper, .page-user-edit-main #user-profile-form .description{
	display:none;
}
#user-register-form  label, #user-register-form  #field-phone-values thead{
	float:left;
	width: 150px;
	text-align:right;
	padding-right:5px;
}
.page-user-edit-main #user-profile-form label{
	float:left;
	width: 200px;
	text-align:right;
	padding-right:5px;
}
#user-register-form  label, #user-profile-form label{
	clear:both;
}
#user-register-form #field-phone-add-more-wrapper tbody{
	float:left;
	border:0px;
}
#user-register-form #field-phone-add-more-wrapper tr.even,   #user-register-form #field-phone-add-more-wrapper tr.odd, #user-register-form #field-phone-add-more-wrapper  th{
	background-color:transparent;
	border:0px;
	padding:0px;

}
#user-register-form #field-phone-add-more-wrapper  th label{
	margin-top:10px;
}
#user-register-form  .form-item-mail .description{
	display:none;
}
#user-register-form  .form-item, #user-profile-form .form-item{
	margin:0.5em 0;
}
#user-register-form   .field-multiple-drag, #user-register-form   #edit-field-phone-und-add-more,#user-register-form .description{
	display:none;
}
#user-register-form   .password-field, #user-register-form   .password-confirm {
	float:left;
}
#user-register-form  .password-parent{
	width:700px;
}
#user-register-form   .password-strength{
	margin-left: 400px;
	margin-top: 0;
	position: absolute;
}
#user-register-form   #edit-field-phone{
	clear:both;
	padding-top: 10px;
}
#user-register-form  #edit-pass-pass2{
	margin-left: 0px;
	position:relative;
	padding-top:0px;
	font-size:14px;
}
#user-register-form  .password-confirm{
	position: absolute;
	margin-left: 160px;
	padding-top:5px;
	font-size:8pt;
}
#user-register-form  .password-suggestions{
	position: absolute;
	margin-left: 400px;
	width: 300px;
}
#user-register-form  #edit-field-phone-und-0-value,#user-register-form  #edit-field-icq-und-0-value,#user-register-form #edit-field-skype-und-0-value{
	width:16em;
}
.page-user-edit-main #user-profile-form .form-item-profile-main-field-license-date-und-0-value-date label{
	display:none;
}
.page-user-edit-main #user-profile-form .form-item-profile-main-field-about-extra-text-und-0-value label, #user-register-form  .form-item-profile-main-field-about-extra-text-und-0-value label{
	text-align:left;
}
.page-user-edit-main #user-profile-form fieldset{
	margin:0px;
	padding:0px;
	border:0px;
}
.page-user-edit-main #user-profile-form  legend{
	float:left;
	width: 200px;
	text-align:right;
	padding-right:5px;
	font-weight:bold;
}
.page-user-edit-main  #user-profile-form fieldset .fieldset-wrapper, .page-user-edit-main  #user-profile-form fieldset .fieldset-wrapper *{
	float:left;
	margin:0px;
	padding:0px;
}
.page-user-edit-main #user-profile-form .form-item-profile-main-field-activity-und label{
	float:none;
	width:260px;
}
.page-user-edit-main #user-profile-form #edit-profile-main-field-activity-und{
	margin-left:270px;
	margin-top:-27px;
}
.page-user-edit-main #user-profile-form #edit-actions{
	text-align:center;
}
.node-faq-form .form-item-title{
	display:none;
}
#edit-date-filter-min-wrapper,#edit-date-filter-max-wrapper{
	float:left;
}
.view-user-page .views-exposed-form .views-submit-button{
	margin-top: 1.3em;
}
.view-unanswered-questions .views-row{
	margin: 20px 0;
}
.page-faq-ask-unanswered .region-help{
	display:none;
}
#views-form-unanswered-questions-page .form-item {
	float:left;
	margin:10px;
}
.calendar-calendar td.has-events{
}
.calendar-calendar .mini-day-on {
	background-color: #dfdfdf;
	border-radius: 20px;
	float: right;
	height: 23px;
	padding: 0;
	text-align: center;
	width: 23px;
}
#block-views-calendar-block-1 .view .date-nav-wrapper .date-nav{
	margin-bottom:0px;
	padding-bottom:0px;

}
#block-views-calendar-block-1 .item-list .pager{
	margin: 0;
	padding: 0;
}
#block-views-news-on-mainpage-block-1, #block-views-month-active-block{
	clear:both;

}
#block-views-month-active-block{
	/*height: 270px;*/
	margin-top: 20px;

}
#block-views-news-on-mainpage-block-1{
	/*height: 265px;*/
}
#block-views-news-on-mainpage-block-1 ul,  #block-views-month-active-block ul{
	padding:0px;
	margin: 0;
	margin-top: 7px;
	display: flex;
}
#block-views-news-on-mainpage-block-1 ul li,  #block-views-month-active-block ul li{
	background: none repeat scroll 0 0 #F4F4F4;
	/*float: left;*/
	/*height: 212px;*/
	list-style: none outside none;
	margin-right: 7px;
	overflow: hidden;

	font-size: 12px;

}
#block-views-news-on-mainpage-block-1 ul li:last-child,  #block-views-month-active-block ul li:last-child {margin-right: 0px;}
#block-views-month-active-block ul li{
	/*padding: 7px 0;*/
	/*width: 119px;*/
	padding: 0.7rem 0 0;
	width: 14%;
}
#block-views-month-active-block ul li div:last-child {display: none;}
#block-views-news-on-mainpage-block-1 ul li{
	padding: 0.7rem;
	width: 13%;
}
#block-views-news-on-mainpage-block-1 ul li img {width: 100%;}
#block-views-languages-block{
	font-size: 12px;
}
#block-views-languages-block td{
	height: 175px;
	line-height: 1.4;
	text-align: center;
	vertical-align: top;
	width: 20%;
	padding:3px;
}
#block-views-month-active-block ul li{
	/*height: 208px!important;*/
	text-align:center;
	/*display: table;*/
	/*background-image:url(../images/active.gif);*/
	/*background-position:bottom;*/
	/*background-repeat:repeat-x;*/
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}
#block-views-month-active-block ul li a.sm_koll{
	display: table-row;
	font-size: 11px;
	line-height: 1em;
	/*vertical-align: bottom;*/
	color:#fff;
	/*height:10px;*/
	text-decoration: none;
	background-color: #a2a2a2;
	padding: 0.7rem 0;
}
#block-views-month-active-block h2{
	font-size:25px;
}
#block-views-month-active-block .act_upper{
	/*height: 70px;*/
}
#block-views-month-active-block ul li strong{
	background: none repeat scroll 0 0 #750324;
	color: #FFFFFF;
	font-size: 11px;
	padding: 2px 5px;
	display: inline-block;
	margin: 0.5rem 0 1rem;
}
#block-views-news-on-mainpage-block-1 ul li.views-row-last,  #block-views-month-active-block ul li.views-row-last{
	margin-right: 0px;
}


.region-blogs{
}
#block-block-17{
	margin-top:100px;
}
.view-id-feeds_defaults_feed_items .views-row{
	background: none repeat scroll 0 0 #F4F4F4;
	padding: 7px;
}
.region-recentfaq{
	background: none repeat scroll 0 0 #F4F4F4;
	padding: 20px;
}
.view-user-by-term  .view-content li{
	font-size: 9pt;
	text-align: center;
	vertical-align: top;
}
.page-blog h2{
	border-bottom:0px;

}
.page-blog article {
	border-bottom: 1px solid #999999;
	padding-bottom:20px;
}
.mollom-privacy{
	/*display:none;*/
}
#edit-profile-main-field-english{
	display:none;
}
div.description.mollom-privacy{
	display:none;
}
#block-block-19{
	color:#fff;
	height: 95px;
	margin-top: 50px;
}
.thank{
	background-color: #85092d;
	font-size: 16px;
	font-style: normal;
	margin-bottom: -10px;
	margin-left: -10px;
	margin-top: 10px;
	padding: 10px;
	text-align: center;
	width: 100%;
}
.thank a{
	color:#fff;
	text-decoration:none;
}
.comment_author .thank{
	font-size: 12px;
	margin-left: 0px;
	padding: 5px;
}
#block-block-21{
	background-color:#646464;
	color:#fff;
	height: 150px;
}
#block-block-21 img{
	margin-right:5px;
}
#block-block-21 h3, #block-block-21 a{
	color:#fff;
}
#block-block-21 h3{
	margin-bottom:0px;
	font-size:20px;
}
.new_quest{
	background:  no-repeat scroll right center #85092d;
	border-radius: 10px;
	color: #fff;
	float: right;
	font-size: 18pt;
	font-weight: bold;
	margin-top: -30px;
	padding: 15px 20px;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(50, 50, 50, 1);
	-webkit-box-shadow: 3px 3px 0px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    3px 3px 0px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         3px 3px 0px 0px rgba(50, 50, 50, 0.75);
}
.new_quest span{
	display:block;
	clear:both;
	font-size: 10pt;
	font-weight: normal;
}
.new_quest:hover{
	color: #fff;
	margin:-28px 0px 0px 2px ;
	-webkit-box-shadow: 1px 1px 0px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    1px 1px 0px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         1px 1px 0px 0px rgba(50, 50, 50, 0.75);
}
#block-block-22{
	background-color:#f4f4f4;
	padding: 0 0px 5px;
}
#block-block-22 h2.block-title{
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	font-family: "Times New Roman",serif;
	font-style: italic;
	background-Color:#85092d;
	margin-bottom: 10px;
	padding: 20px;

}
h2.smaller{
	font-size: 16pt;
	margin-bottom: 0;
	margin-top: 10px;
	padding-bottom: 0;
}
#edit-comment-body-und-0-format, .form-item-notify{
	padding:0px;
	margin:0px;
	border:0px;
}
.online{
	background-color: #01d001;
	height: 10px;
	/*margin-left:102px;*/
	/*margin-top: -110px;*/
	position: absolute;
	top: 1rem;
	right: 1rem;
	width: 10px;
	z-index: 100;
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;

	-moz-animation-name: blinker;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;

	animation-name: blinker;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.profile .online, .submitted-faq .online{
	clear: right;
	height: auto;
	margin-left: 0;
	margin-top: 0;
	position: relative;
	text-align: center;
	width: auto;
	animation:none;
	top: 0;
	right: 0;
}
.submitted-faq .online{
	margin-bottom: 5px;
	margin-top: -6px;
}
@-moz-keyframes blinker {
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}

@keyframes blinker {
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}
.fb-like-box{
	background-color:#fff;
}
.profile2-main .field{
	display: table-row;
}
.profile2-main .field-label-inline .field-label, .profile2-main  .field-label-inline .field-items{
	display: table-cell;
	vertical-align: top;
	float:none;
}
.profile2-main{
	padding-left:5px;
}
.profile2-main .field-name-field-about-extra-text{
	display:inline!important;
}
#vitnews{
	float:right;
	width:50%;
	padding:10px;
	background-color:#f4f4f4;
}
#vitnews h3{
	margin:0px;
	font-size: 1.2em;
}
.field-name-field-more-fotos .field-item{
	display: inline-block;
	margin: 0 3px;
}
.container-inline div{
	display: inline-block;
}
.submitted-faq{
	background-color: #DDDEDD;
	border: 1px solid #C8C8C8;
	float: right;
	font-size: 9pt;
	font-style: italic;
	margin: 10px;
	padding: 10px;
	text-align: center;
	width: 180px;
}
.field .field-label {
	font-weight: bold;
}
.field-label-inline .field-label, .field-label-inline .field-items {
	float: left;
}
#rukovodstvo .field-label {
	margin-left: 68px;
}
.view-og-members .views-view-grid .user-picture, .view-rukovodstvo .user-picture {
	display: inline-block;
	float: none;
	margin-top: 3px;
	vertical-align: top;
}
#rukovodstvo img {
	margin-top: -20px;
}
.field-name-field-phone .field-label, .field-name-field-mail .field-label, .field-name-field-adress .field-label, .field-name-field-phone .field-label, .field-name-field-adress .field-label, .views-field-field-phone .views-label, .views-field-field-adress .views-label, .node-test-kollegia .field-name-field-mail .field-label {
	display: block;
	float: left;
	font-weight: bold;
	text-align: right;
	width: 80px;
}
.view-og-members img, .view-rukovodstvo img {
	float: left;
	margin-right: 5px;
	width: 60px;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.field-name-field-adress, .field-name-field-mail {
	float: left;
	clear: left;
}
#rukovodstvo .view-rukovodstvo{
	margin-bottom:30px;
}
.form-item {
	margin: 1.5em 0;
}
.form-item label {
	display: block;
	font-weight: bold;
}
.form-textarea-wrapper textarea {
	display: block;
	margin: 0;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow: auto;
	vertical-align: top;
}
.resizable-textarea .grippie {
	background: #eee url(../images/grippie.png) no-repeat center 2px;
	border: 1px solid #ddd;
	border-top-width: 1px;
	border-top-width: 0;
	cursor: s-resize;
	height: 9px;
	overflow: hidden;
}
.form-textarea{
	display: block;
	margin: 0;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.adv_stats_prof{
	font-size: 9pt;
	text-align: left;
	float: right;
	margin: 10px;
	padding: 10px;
	width: 250px;
	background-color: #dddedd;
	border: 1px solid #c8c8c8;
}
.vote-answer-item{
	text-align:right;
}
.quest-vote{
	text-align:left;
}
.vote-items-list .total{
	text-align:center;
}
.foreground {
	background-color: #000;
	height: 1em;
	float: left;
}
ol.vote-items-list li.vote-question-item{
	border:none;
}
ul.fiji-ticker {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	margin-bottom: 0px;
	height: 580px;
	margin-bottom: 20px;
}
ul.fiji-ticker li{
	border-bottom: 1px solid #999999;
	padding-top: 10px;
	margin: 0px;
	padding-bottom: 10px;
}
.region.region-online{
	overflow: hidden;
	padding-bottom: 20px;
}
.views-exposed-form label {
	font-weight: bold;
	margin-bottom: 5px;
	display: block;
}
.views-exposed-form .form-item{
	margin:0px;
}
.kass{
	display: inline-block;
	float: left;
	margin-right: 20px;
}
.krass,.views-exposed-form .description{
	display: inline-block;
	margin-bottom: 20px;
}
.views-exposed-form #NAME{
	width: 41.1%;
	margin-bottom: 10px;
}
.views-exposed-form .row.sd{
	float: right;
	margin-right: 121px;
}
.views-exposed-form button.button{
	padding: 5px 30px 5px 30px;
}

.form-item label, .field-wrap label {margin-bottom: 3px;}
.form-item input, .field-wrap input{line-height: 24px;}

.form-item .buttons .btn.btn-primary, .buttons .btn.btn-primary, .form-item .form-select, .form-submit {line-height: 26px; height: 30px;}

.bx-breadcrumb .bx-breadcrumb-item span {line-height: 21px;}
.news-list .node-title {line-height: 1.2em;}
.news-list .node-title a {line-height: 1.2em;}

#navigation {margin-right: -25px;}

.page-content h1.title {padding-top: 0;}
.clearfix {clear: both;}
.field-name-field-maps {margin-top: 70px;}
.field-name-field-maps:before {content:''; display: table; clear: both;}

.view-og-members .user-picture.adv-pic {float: left; margin-right: 7px; display: inline-block; box-sizing: border-box;width: 60px; }
.view-og-members .adv-dsc {width: calc(100% - 70px);}
.contextual-links-region p {margin-top: 0;}
.contextual-links-region .block-title {border-bottom: 1px solid #999999; line-height: 1;}
.search-form #search-block-form .form-item-search-block-form {margin: 0;}
aside .search-form {margin-top: -7px;}

.kol-info-wrap {float: left;}


.yur-consult .yur-consult-item:nth-child(2n+1), .adv-buro-item:nth-child(2n+1) {clear: left; padding-right: 10px; }
.news-list.adv-buro, .news-list.yur-consult, .adv-individs {margin-top: 25px;}
.yur-consult .yur-consult-item, .adv-buro-item {box-sizing: border-box;}
.adv-individs .individs-item:nth-child(3n+1) {clear: left;}

.kol-info-wrap .field-name-field-link-site .field-label {width: 80px; text-align: right;}
.kol-info-wrap .field-item a {line-height: 1;}
.bx-auth table.data-table tbody td,
.bx-auth table.data-table tfoot td,
.bx-auth table.data-table thead td,
.bx-auth table.data-table th,
table.data-table.bx-forgotpass-table th,
table.data-table.bx-forgotpass-table thead td,
table.data-table.bx-forgotpass-table tbody td,
table.data-table.bx-forgotpass-table tfoot td,
table.data-table.bx-forgotpass-table  {background: none; border: none; font-size: 14px;}

.data-table input {height: 30px; box-sizing: border-box; font-size: 14px; }
.data-table input[type="submit"] {height: 35px; -webkit-appearance: none; border: 1px solid rgb(186, 186, 186);}
.bx-auth table.data-table {border: none; }

.bx-auth table.data-table td {
	border: 1px solid #99BAD7;
	background-color: #FFFFFF;
	color: #333;
	padding: 3px 5px 3px 0; }


.leftnav li:first-child .drs {max-width: 50px; max-height: 55px; margin-left: 10px;}

.choose-surname, .choose-kollegy {width: 63%; float: right;}
.law-field select.form-select {height: 60px;}
.choose-kollegy select {width: 75%; height: 30px;-webkit-appearance:none; border-radius: 0; border: 1px solid #cecdcd; }
.choose-surname input#NAME {width: 75%; height: 30px; box-sizing: border-box; border: 1px solid #cecdcd;}

.choose-surname label, .choose-kollegy label {width: 20%;  display: inline-block;}
.views-exposed-form .row.sd {margin-right: 21px;}

.news-list.view.view-faq .view-content .news-item {font-size: 16px; line-height: 1.3;}

#book-ad {margin-bottom: 6px;}
h2.boo-h{
	padding-top: 7px;
	padding-left: 35px;
	border-bottom: none;
	padding-bottom: 0;
}

form .input.error {
	position: relative;
}
form label.error {
	display: inline-block;
	font-weight: 400;
	color: #e02222!important;
	margin: 0;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 6;
	font-size: .8em;
}

form .text-wrap label.error {
	right: 30%;
}

form .licence_block.bx_filter {
	position: relative;
	display: block;
	padding: 19px 0 21px;
}

.input.error input, .input.error textarea {
	border: 1px solid #e02222;
}

.question-btn-success {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.428571429;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

	font-weight: 400;
	text-transform: none;
	text-decoration: none;
	margin: 0 10px 10px 0;
	border: 1px solid;
	border-radius: 2px;
	padding: 8px 20px 9px;
	overflow: hidden;
	transition: background-color .1s ease;
	-moz-transition: background-color .1s ease;
	-ms-transition: background-color .1s ease;
	-o-transition: background-color .1s ease;
	-webkit-transition: background-color .1s ease;

	color: #fff;
	background-color: #85092d;
	border-color: #85092d;
}

.question-btn-success:hover, .question-btn-success:active, .question-btn-success:focus {
    background-color: #e63f3a;
    border-color: #e63f3a;
}
.questionOverlay{
	background: #3a3f44;
	opacity: .7;
	height: 100%;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 2999;
}